/*Color Scheme
main colors
#FFFFFF
#E1E1E1
#757575
#000

accent color
#00897B

color POP
#e62e00
*/

body{
  background: white;
}
.styleguide-main-container{
  width: 100vw;
}
.main-nav{
  background:  #333333;
  width: 100vw;
  height: auto;
  border-bottom: 16px solid #00b3a1;
}
.navbar{
  width: 80vw;
  height: auto;
  background:  #333333;
  display: flex;
  flex-direction: row;
  padding: 30px 40px 35px 0px;
  margin: auto;
  color: #E1E1E1;
}
.navbar li{
  padding-right: 40px;
  font-family: Oswald;
  letter-spacing: 1px;
  font-size: 12px;
}
.food-content{
  width: 80vw;
  margin: auto;
}
.food-content img{
  width: 80vw;
  height: auto;
}
.menu-container{
  margin-top: 25px;
  width: 80vw;
  height: auto;
  font-family: Oswald;
}
.main-menu-top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 15px;
  border-top: 2px solid #00b3a1;
}
.main-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.menu-item{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 38vw;
  padding: 15px 15px 5px 15px;
}
.menu-desc{
  font-family: roboto condensed;
  font-weight: 300;
}
.menu-price{
  font-family: roboto condensed;
}
.button1{
  background: #D03D32;
  width: 130px;
  height: 35px;
  text-align: center;
  border: 0px solid #ff471a;
  font-family: Oswald;
}
.button2{
  background:   #ff471a;
  width: 130px;
  height: 35px;
  text-align: center;
  border: 0px solid #ff471a;
  font-family: Oswald;
}
.button3{
  background:   #e62e00;
  width: 130px;
  height: 35px;
  text-align: center;
  border: 0px solid #ff471a;
  font-family: Oswald;
}
